BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 2
BinPackParameters: false
BinPackArguments: false
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
IncludeBlocks: Preserve
ReflowComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlignConsecutiveMacros: true