BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 85
AccessModifierOffset: -4
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 2
BinPackParameters: false
BinPackArguments: false
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
IncludeBlocks: Preserve
ReflowComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveMacros: true